.filter-container {
    display: flex;
    justify-content: center;
}

.name-instock-container {
    padding-right: 8px;
    width: 100%;
}

.form-filter>* {
    display: flex;
}

.toy-sort {
    display: flex;
    justify-content: center;

    margin-top: 1em;
}

.toy-sort button {
    margin: .5em;
}

.label-select {
    width: 100%;
}
